#start-button {
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translateX(-50%);
    text-align: center;
}

#marvel-logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
    text-align: center;
}