


<ion-header>
  <ion-navbar >
      <button ion-button menuToggle icon-only>
          <ion-icon name='menu'></ion-icon>
        </button>
    <ion-title>Faber Marvel</ion-title>
  </ion-navbar>
  <ion-searchbar
  [showCancelButton]="shouldShowCancel"
  (ionInput)="search($event)"
  (ionCancel)="cancel()">
</ion-searchbar>
</ion-header>

<ion-content padding>
  <ion-list *ngIf="characters">
    <button ion-item  *ngFor="let character of characters" (click)="goToCharacterDetail(character)">
      <ion-thumbnail item-start>
        <!-- <img *ngIf="character.thumbnail.available"  src="{{character.thumbnail.path}}.{{character.thumbnail.extension}}" > -->
        <img src="{{character.thumbnail.path}}.{{character.thumbnail.extension}}" >
      </ion-thumbnail>
      <h2>{{character.name}}</h2>
    </button>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
