<!--
  Generated template for the CharacterDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title >{{character.name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <!-- <h2 *ngIf="character">{{character.name}}</h2> -->
  <ion-fab right top>
      <button *ngIf="!favCharacter" ion-fab color="light" (click)="addCharacterToFavorites()"><ion-icon name="heart-outline"></ion-icon></button>
      <button *ngIf="favCharacter" ion-fab color="primary" (click)="removeCharacterFromFavorites()"><ion-icon name="heart"></ion-icon></button>
    </ion-fab>
  <ion-list>
    <ion-item>
        <img *ngIf="character.thumbnail.available" src="{{character.thumbnail.path}}.{{character.thumbnail.extension}}">
    </ion-item>
      <ion-item text-wrap><p>{{character.description?character.description:'We don\\'t know much about '+character.name}}</p>
    </ion-item>

    <button ion-item (click)="goToComicsList(character)">
      <ion-icon name="book" item-start></ion-icon>
      Comics
      <ion-badge item-end>{{character.comics.available}}</ion-badge>
    </button>

    <ion-item>
      <ion-icon name="text" item-start></ion-icon>
      Stories
      <ion-badge item-end>{{character.stories.available}}</ion-badge>
    </ion-item>

    <ion-item>
      <ion-icon name="albums" item-start></ion-icon>
      Series
      <ion-badge item-end>{{character.series.available}}</ion-badge>
    </ion-item>
  </ion-list>

</ion-content>
