<!--
  Generated template for the ComicDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{comic.name?comic.name:comic.title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-fab right top>
        <button ion-fab color="primary" (click)="addComicToFavorites()"><ion-icon name="heart-outline"></ion-icon></button>
      </ion-fab>

    <div *ngIf="comic.details">
        <ion-item>
            <img src="{{comic.details.thumbnail.path}}.{{comic.details.thumbnail.extension}}">
        </ion-item>
         <ion-item text-wrap><p>{{comic.details.description?comic.details.description:'We don\\'t know much about '+comic.name?comic.name:comic.title}}</p>
        </ion-item>
      </div>
    
      <ion-list *ngIf="comic.details">
        <ion-item>
          Format: {{comic.details.format}}
        </ion-item>
    
        <ion-item *ngIf="comic.details.upc">
           UPC: {{comic.details.upc}}
        </ion-item>

        <ion-item *ngIf="comic.details.isbn">
          ISBN: {{comic.details.isbn}}
        </ion-item>

        <ion-item text-wrap>
          Creators: <span *ngFor="let creator of comic.details.creators.items; let isLast=last">{{creator.name}}{{isLast ? '' : ', '}} </span>
        </ion-item>

        <ion-item *ngIf="comicCharacters">
          <ion-icon name="contacts" item-start></ion-icon>
          Characters
          <ion-badge item-end>{{comic.details.characters.available}}</ion-badge>
        </ion-item>
        <ion-row *ngIf="comicCharacters"  >
          <ion-thumbnail width="30" *ngFor="let character of comicCharacters">
            <img width="80" height="80" src="{{character.thumbnail.path}}.{{character.thumbnail.extension}}">
          </ion-thumbnail>
        </ion-row>
    
      </ion-list>
      

</ion-content>
